{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- with . }}
<section role="region" class="about-section what-is-this" aria-labelledby="what-is-this">
    <h3 id="what-is-this">What is this?</h3>
    <div class="about-section-contents">
        <p>
            This a fork of <a href="https://github.com/superseriousbusiness/gotosocial">GoToSocial</a> to allow to function as a proxy for Atom and RSS feeds.
        </p>
        <h4>How to add/follow a feed</h4>
        <p>
            Since Mastodon support a limited character range it's not possible to directly pass the url.

            The idea is to call the webfinger directly using <b>curl</b> for example, the endpoint will return a username that can then be followed in mastodon.

            The winfinger will:
            <ul>
                <li>Remove the `@{{ .instance.Title }}` if present </li>
                <li>Check if the lefovers are an existing account name.</li>
                <li>Add `https` protocol if needed and call the resulting url to check if it's a Feed (`Atom` or `Rss`).</li>
                <li>If not load the page HTML and search for:
                    <ul>
                        <li>A `link` element in the header with `type="application/atom+xml"`</li>
                        <li>A `link` element in the header with `type="application/rss+xml"`</li>
                    </ul>
                </li>
            </ul>

            Ex:

            <pre>
                > curl 'https://{{ .instance.Title }}/.well-known/webfinger?resource=xkcd.com'
                {
                    "subject": "acct:xkcd.com@{{ .instance.Title }}",
                    "aliases":
                    [
                        "https://{{ .instance.Title }}/users/xkcd.com",
                        "https://xkcd.com/atom.xml"
                    ],
                    ...
                }
                > curl 'https://{{ .instance.Title }}/.well-known/webfinger?resource=codeberg.org/forgejo/forgejo/releases.rss'
                {
                    "subject": "acct:codeberg.org.14499953154663570662@{{ .instance.Title }}",
                    "aliases":
                    [
                        "https://{{ .instance.Title }}/users/codeberg.org.14499953154663570662",
                        "https://codeberg.org/forgejo/forgejo/releases.rss"
                    ],
                    ...
                }
                > curl 'https://{{ .instance.Title }}/.well-known/webfinger?resource=@codeberg.org.14499953154663570662@{{ .instance.Title }}'
                {
                    "subject": "acct:codeberg.org.14499953154663570662@{{ .instance.Title }}",
                    ...
                }
                > curl 'https://{{ .instance.Title }}/.well-known/webfinger?resource=codeberg.org.14499953154663570662'
                {
                    "subject": "acct:codeberg.org.14499953154663570662@{{ .instance.Title }}",
                    ...
                }
            </pre>
        </p>
    </div>
</section>
{{- end }}
